.sign_in {
  background-image: linear-gradient(to right, #dfe7e8 0%, #a1c0c5);
}

.container {
  max-width: 80%;
  margin: 0 auto;
}
.form {
  padding: 2rem 4rem;
  height: 800px;
  background-color: #beceda;
  display: flex;
  background-blend-mode: multiply;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/login_bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.form_input {
  padding: 0.7rem 0;
}
.label {
  font-size: 1.5rem;
  color: #f56a00;
  text-transform: capitalize;
  padding: 0rem 0.5rem;
  font-weight: 300;
  letter-spacing: 2px;
}
.input {
  display: block;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
  width: 500px;
  border: 1px solid #0a223a;
  outline: none;
  margin: 0.3rem 0;
  color: rgba(26, 12, 230, 0.818);
  background-color: #beceda6f;
}
.button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  width: 500px;
  outline: none;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: rgb(50, 26, 132);
}
.title {
  font-size: 3rem;

  color: rgba(26, 12, 230, 0.646);
  text-transform: capitalize;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 1rem;
  background-color: #beceda6f;
  border-radius: 10px;
  margin: 1rem 0;
}
